[project]
	description = GangContri 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mahesh Pawar (maheshpawar149)
[access "refs/for/refs/*"]
	read = group user/Mahesh Pawar (maheshpawar149)
	push = group user/Mahesh Pawar (maheshpawar149)
	label-Code-Review = -2..+2 group user/Mahesh Pawar (maheshpawar149)
	label-Verified = -1..+1 group user/Mahesh Pawar (maheshpawar149)
	rebase = group user/Mahesh Pawar (maheshpawar149)
	removeReviewer = group user/Mahesh Pawar (maheshpawar149)
	submit = group user/Mahesh Pawar (maheshpawar149)
[access "refs/heads/*"]
	read = group user/Mahesh Pawar (maheshpawar149)
	create = group user/Mahesh Pawar (maheshpawar149)
	push = +force group user/Mahesh Pawar (maheshpawar149)
	pushMerge = group user/Mahesh Pawar (maheshpawar149)
[access "refs/tags/*"]
	push = group user/Mahesh Pawar (maheshpawar149)
	push = +force group user/Mahesh Pawar (maheshpawar149)
