<!DOCTYPE html>
<html ng-app>
    <head>
        <title> Gang Contri</title>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
        <script>
                // Allnames=[{Mahesh},{Pushkar},{Simmin},{Nikhil}];
                // Allnames=[{"Name" : "Mahesh"},{"Name" : "Pushkar"},{"Name" : "Simmin"},{"Name" : "Nikhil"},{"Name" : "tejal"},{"Name" : "yoginee"},{"Name" : "Abhishek"},{"Name" : "Venky"}]

        </script>
        <script src="Scripts/AddNames.js"></script>
    </head>
<body>
    {{6+7}}
    <div>
    <input type="text" ng-model="testName" placholder="Your Name">
        <h1>{{Allnames}}</h1>
    </div>
    
    <b>2nd</b>
    
    <div>
        <script type="text/ng-template" id="addstud.htm">
        {{message}}
        </script>
    </div>

    <div ng-controller="myController">
        {{message}}
    </div>
    
</body>
</html>