
 html{
  background-image: url(../resources/purple_barrier.jpg);
  background-origin: center inline-block;
  background-position: center fixed;
  padding:1% 2% 55% 1%;
  display: inline-block;
  height: 800px;
  color: white;
  font-color: white;
 }

body{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 20px;
  display: inline;
  margin-left: -50px;
}


#mainPageOptions{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:auto;
  min-width: 300px;
  min-height: 300px;
  padding: 5px; margin: 5px auto;
}
#frontBtn{
  height: 200px;width: 200px;
  padding: 5px; margin: 20px ;
}

#viewdiv{
  /*color: white;
  font-size:15pt;
  */
  font-family: Monaco;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*text-align: center;
  height: auto;
  min-height:400px;*/
 /* width: 800px;
  padding: 20px;
  margin: 0 auto; 
 */ }
#mainpage{
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: auto;
  height: auto;
*/}

#mainpage1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 /* background-color:red;*/
  width:auto;
  min-width: 500px;
  min-height: 400px;
}

#mainContriTable input{
  color:  #fdfefe ;
}

#mainStartContriDiv, #DisplayNameContriDiv, #mainContriViewpdiv{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  width: 80%;
  height: auto;
  padding: 5px; margin: 5px auto;
  /*float: left;*/
  text-decoration-color: white;
}

#totalExp{
  /*text-color: white;*/
}

.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}

#divaddCotriMem1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:auto; height: auto;
  padding: 5px; margin: 5px auto;
  float: left;
  color: white;
}

#memberbtn{
  height: 70px;
  width: 250px;
}

#divaddCotriMem2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:auto; height: auto;
  padding: 5px; margin: 5px auto;
  float: right;
}

#divaddCotriMem{
  width:800px;
  height: auto;
}
#nameCardDiv{
  padding:15px;
  margin: 15px;
  //border: red solid;
  background-color: #3090C7;
  height:100px;
}

#memberCard1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  display: inline-block;
  float: left;
  height:500px;
  }

#memberCardImg{
  width: 250px;height: 250px;
  border-radius: 50%;
}


#img-circle{
  border-radius: 50%
}

#img-circleAddMem{
  border-radius: 50%;
  height: 50px;width: 50px;
  float: left;
}

#mainContriinputs{
  width:80px;
}
/*footer{
  /*background-image: url(../resources/ikxm06jw.jpg);
  position: fixed;
  background-color: #f2f2f2;
  //padding: 15px;
  //margin: 10px;
  //top-padding:10px;
  //background-origin: center inline-block;
  //background-position: center fixed;
    float: left;
    width: 150px;
    height: 75px;
    margin: 10px;

}


#jumbotron{
  background-image: url(../resources/ikxm06jw.jpg);
  background-origin: center inline-block;
  background-position: center fixed;
  width: 1150px;height: 400px;
}*/

.pager{
  padding: 25px;
}

/*.container{
  float: center;
  display: inline-block;
}*/




/*------------------------------------*\
    MATERIAL PHOTO GALLERY
\*------------------------------------*/

$gallery-width: 100%;
$transition-duration: 0.5s;

.m-p-g {
  max-width: $gallery-width;
  margin: 0 auto;
  
  &__thumbs {
    
    &-img {
      margin: 0;
      float: left;
      vertical-align: bottom;
      cursor: pointer;
      z-index: 1;
      position: relative;
      opacity: 0;
      filter: brightness(100%);
      -webkit-tap-highlight-color: rgba(black, 0);
      will-change: opacity, transform;
      transition: all $transition-duration cubic-bezier(0.23, 1, 0.32, 1);
      
      &.active {
        z-index: 50;
      }
      
      &.layout-completed {
        opacity: 1;
      }

      &.hide {
        opacity: 0;
      }
      
      &:hover {
        filter: brightness(110%);
      }
    }
  }
  
  &__fullscreen {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(black, 0);
    visibility: hidden;
    transition:
      background .25s ease-out,
      visibility .01s $transition-duration linear;
    will-change: background, visibility;
    backface-visibility: hidden;

    &.active {
      transition:
        background .25s ease-out,
        visibility .01s 0s linear;
      visibility: visible;
      background: rgba(black, 0.95);
    }

    &-img {
      pointer-events: none;
      position: absolute;
      transform-origin: left top;
      top: 50%;
      left: 50%;
      max-height: 100vh;
      max-width: 100%;
      visibility: hidden;
      will-change: visibility;
      transition: opacity $transition-duration ease-out;

      &.active {
        visibility: visible;
        opacity: 1 !important;
        transition:
          transform $transition-duration cubic-bezier(0.23, 1, 0.32, 1),
          opacity $transition-duration ease-out;
      }

      &.almost-active {
        opacity: 0;
        transform: translate3d(0,0,0) !important;
      }
    }
  }
  
  &__controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    height: 20vh;
    background: linear-gradient(to top, transparent 0%, rgba(black, 0.55) 100%);
    opacity: 0;
    visibility: hidden;
    transition: all $transition-duration cubic-bezier(0.23, 1, 0.32, 1);
    
    &.active {
      opacity: 1;
      visibility: visible;
    }
    
    &-close,
    &-arrow {
      appearance: none;
      border: none;
      background: none;

      &:focus {
        outline: none;
      }
    }

    &-arrow {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 20%;
      height: 100vh;
      display: flex;
      align-items: center;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(black, 0);
      opacity: 0;
      
      &:hover {
        opacity: 1;
      }
      
      &--prev {
        left: 0;
        padding-left: 3vw;
        justify-content: flex-start;
      }
      
      &--next {
        right: 0;
        padding-right: 3vw;
        justify-content: flex-end;
      }
    }
    
    &-close {
      position: absolute;
      top: 3vh;
      left: 3vw;
      z-index: 5;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(black, 0);
    }
  }

  &__btn {
    $size: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: rgba(white, 0.07);
    transition: all .25s ease-out;

    &:hover {
      background: rgba(white, 0.15);
    }
  }

  &__alertBox {
    position: fixed;
    z-index: 999;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    color: grey;

    h2 {
      color: red;
    }
  }
}

/* DEMO */
body {
  background: #fefefe;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: 'Roboto Mono';
  font-color: white;
}

h2 {
  font-weight: 300;
  margin: 4vh 4vw;
  letter-spacing: 3px;
  color: grey;
  text-transform: uppercase;
}

.demo-btn {
  display: inline-block;
  margin: 0 2.5px 4vh 2.5px;
  text-decoration: none;
  color: grey;
  padding: 15px;
  line-height: 1;
  min-width: 140px;
  background: rgba(0,0,0, 0.07);
  border-radius: 6px;
}

.demo-btn:hover {
  background: rgba(0,0,0,0.12);
}

@media (max-width: 640px) {

  .demo-btn {
    min-width: 0;
    font-size: 14px;
  }
}